.container {
  height: auto !important;
  background-color: black !important;
  text-align: center;
}

.upperitem {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: baseline;
}
.typo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.typo1 {
  color: white;
}
.main-heading {
  display: flex;
  justify-content: center;
  height: 50px !important;
  font-weight: bold;
  color: goldenrod;
}
.about {
  color: rgb(239, 126, 5);
  margin-bottom: 2.1rem;
  text-align: left;
  width: 100%;
  text-wrap: wrap !important;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-margin {
  margin: 1rem;
}
.skills {
  color: rgb(239, 126, 5);
  font-size: 25px;
}
.button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.datacontainer {
  margin-top: 1.5rem;
}
.lastcontainer {
  background-color: black;
}
.content {
  background-color: black;
  margin-left: 10rem;
}
.download {
  background-color: goldenrod !important;
  color: black !important;
  font-weight: 800px !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-image {
  max-height: 28rem !important;
}
.mui-icon {
  display: flex;
  align-items: center;
  margin-bottom: 2rem !important;
  justify-content: space-around !important;
}
