.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold !important;
}
.MuiDialog-paper {
  /* background-image: linear-gradient(to right top, #060917, #060917, #060917, #060917, #060917) !important; */
}
.typography {
  color: goldenrod;
  /* color: white; */
  font-family: "Times New Roman", Times, serif !important;
  font-size: 1.1rem !important;
}
#name-helper-text {
  color: white;
  font-size: 15px;
}
#user_email-helper-text {
  color: white;
  font-size: 15px;
}
.MuiButtonBase-root-MuiButton-root {
  font-size: 16px !important;
  font-weight: 400px;
  color: black !important;
}
.number-typo {
  font-size: 0.95rem !important;
  font-weight: 400px !important;
}
.buttons1,
.helper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons1 {
  margin-left: 2rem !important;
}
.helper {
  margin-top: 1.3rem;
}
.whatsapp {
  font-weight: bold;
}
.MuiOutlinedInput-notchedOutline {
  color: white !important;
}
