.education {
  display: flex;
  font-weight: bold;
  font-size: large;
  margin-left: 1rem !important;
  margin-top: 0 !important;
}
.expo {
  height: auto !important;
  padding: 1rem !important;
}
.card-items .degree {
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #11a372;
}
.card-items .schooling {
  font-size: medium;
}

.inner-card {
  background-color: lightblue;
}
.left-image {
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
  background-image: url("../image/IMG-20231226-WA0066-EDIT.jpg");
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}
.experience {
  color: rgb(239, 126, 5);
  text-align: left;
  width: 100%;
}
.main-exp {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.main-exp .experience {
  padding: 0px 30px;
  margin-left: 20px;
  border-left: 3px solid #bababa;
}
.main-exp .experience .card-items {
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}
.main-exp .experience .card-items:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
  background-color: aquamarine;
}
.main-exp .experience .card-items::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #11a372;
  border: 2px solid white;
}
.mui-icon {
  display: flex;
  /* justify-content: flex-end !important; */
  align-items: center;
  /* margin-bottom: 2rem !important; */
  justify-content: space-around !important;
}
