.main-container-skills .heading {
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold !important;
  font-size: larger !important;
  margin-top: 1rem;

  overflow: hidden !important;
}
.main-container-skills {
  background-color: azure;
  margin-top: 2rem;
  height: auto !important;
  overflow: hidden !important;
  background-image: linear-gradient(
    to right,
    #8697c4,
    #6784a8,
    #4c708c,
    #365c70,
    #244855
  );
}
.cards {
  display: flex;
  justify-content: center !important;
  margin-top: 0.9rem !important;
}
.mui-icon-skills {
  display: flex;
  align-items: center;
  margin-bottom: 2rem !important;
  justify-content: space-around !important;
}
