.React-type{
    font-weight: bold;
}
.span{
    color: #4deeea;
    font-weight: bold;
    font-size: 22px;
}
*{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.typo{
    margin-top: 50%;
}